@font-face{
    font-family: 'Open sans';
    src:url(../fonts/open-sans.ttf)
}

/*header*/
:root{
    --text: #888888;
    --primary: #EB6C27;
    --bg: #ffffff;
    --space-text: #3A3A3A;
    --grid-text: #2B2B2B;
}
body {
    margin: 0;
    scrollbar-width: none;
    font-family: 'Open sans';
}
.top--header{
    height: 100vh;
    background-size: cover;
    background-image: url(../images/header-background.jpg);
    display: flex;
    background-position: center center;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.header__background{
    width: 100%;
}
.navbar{
    display: flex;
    background-color: var(--bg);
    justify-content: space-between;
    align-items: center;
    margin: 40px 200px;
    width: 85%;
    height: 92px;
    text-transform: uppercase;
}
.navlogo{
    width: 200px;
    height: 100%;
}
.navlink{
    font-family: 'Open Sans';
    color: var(--text);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    padding: 35px 30px;
}
.navlinks{
    float: right;
}
.btn--primary{
    font-family: 'Open Sans';
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    background-color: var(--primary);
    color: var(--bg);
    align-items: center;
    gap: 20px;
    text-decoration: none;
    padding: 16px 40px 16px 50px;
    font-weight: 600;
    margin-top: 4em;
}
.btn--primary:after{
    content: url(../images/arrow.svg);
}
.title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 120px;
    line-height: 163px;
    color: var(--bg);
    margin: 0;
}

.title--second{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 82px;
    letter-spacing: -0.05em;
    color: var(--bg);
    margin: 0;
}
.active{
    background-color: var(--primary);
    color: var(--bg);
}
.title--text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

/*page*/

.space
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    gap: 50px;

    padding-top: 50px;
}
.space--header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 30%;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-image: none;
    background-color: var(--bg);
}
.space--header section{
    max-width: 65%;
    font-size: 20px;
}
.space--title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 82px;
    color: var(--space-text);
}
.title--bold{
    color: var(--primary);
}
.description{
    width: 890px;
    height: 81px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
}
.desc--bold{
    color: var(--space-text);
    font-weight: 800;
}
/* grid*/
.services{
    display:flex;
    flex-direction: column;
    gap: 80px;
}
.service{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    grid-auto-flow: dense;
}
.service__img--right{
    grid-column: 2;
}
.service__img{
    width: 100%;
    min-height: 134px;
}
.services h1{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    color: var(--grid-title);
}
.services p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: var(--grid-text);
    padding-bottom: 20px;
}
.btn--secondary{
    text-decoration: none;
    text-align: center;
    color: var(--primary);
    padding: 12px 40px;
    gap: 10px;
    font-weight: 600;

    /* nějaká divná stránka - ale funguje*/
    background-image: repeating-linear-gradient(4deg, var(--primary), var(--primary) 18px, transparent 18px, transparent 36px, var(--primary) 36px), repeating-linear-gradient(94deg, var(--primary), var(--primary) 18px, transparent 18px, transparent 36px, var(--primary) 36px), repeating-linear-gradient(184deg, var(--primary), var(--primary) 18px, transparent 18px, transparent 36px, var(--primary) 36px), repeating-linear-gradient(274deg, var(--primary), var(--primary) 18px, transparent 18px, transparent 36px, var(--primary) 36px);
    background-size: 1px 100%, 100% 1px, 1px 100% , 100% 1px;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat;
}   
.promo{
    display: flex;
    flex-direction: column;
    background-image: url(../images/add-background.jpg);
    background-size: cover;
    background-position: center center;

    padding: 7%;
    background-repeat: no-repeat;

    margin-top: 15%;
}
.promo p{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-weight: 800;
    color: #ffffff;
}
.btn--primary-new{
    font-family: 'Open Sans';
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--primary);
    color: var(--bg);
    align-items: center;
    gap: 20px;
    text-align: center;
    text-decoration: none;
    padding: 20px 80px;
    font-weight: 600;
    margin-top: 2em;
    max-width: 140px;
    font-size: 20px;
}
/*Reference*/
.ref--text{
    max-width: 50%;
}
.ref{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
	
}
.ref .btn--primary-new{
    padding: 12px 50px;
}
.ref__contents{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin-top: 2em;
	margin-bottom: 80px;
}
.ref-content{
    position: relative;
    width: 480px;
    margin: 0;
}
.ref-content__img{
    display: block;
    width: 100%;
}

.ref-content__active {
    position: absolute;

    top: 0;
    left: 0;
    height: 298px;
    width: 480px;
    visibility: hidden;
    
    background-color: rgba(235, 108, 27, 0.8);
    color: var(--bg);

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.ref-content:hover .ref-content__active {
    visibility: visible;
}

/*footer*/
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    background-color: var(--primary);
}
.footer-text{
    text-align: center;
}
.footer-heading{
    color: #ffffff;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 35px;
}
.footer-desc{
    color: #ffffff;
    font-weight: 300;
    font-size: 25px;
}
.footer .btn--primary-new{
    background-color: #ffffff;
    color: var(--primary);
    max-width: 180px;
    padding: 10px, 40px;  
    margin-bottom: 2em;  
    
}
@media(max-width: 1300px){
    .service{
        display: flex;
        flex-direction: column;
    }
    .navbar{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .title{
        font-size: 80px;
    }
    .title--second{
        font-size: 50px;
    }
}
@media (max-width: 1050px){

}
@media (max-width: 850px) {
    .title{
        font-size: 30px;
        line-height: 40px;
    }

    .title--text .btn--primary{
        display: none;
    }
    .title--second{
        line-height: 40px;
        font-size: 20px;
    }
    .navlinks{
        display: none;
    }
    .space{
        padding-top: 0;
        margin-left: 10%;
        margin-right: 10%;
    }
    .space--title{
        padding-top: 20px;
        line-height: 30px;
        font-size: 20px;  
    }
    .space--header{
        text-align: left;
        align-self: left;
        align-items: left;
        justify-content: left;
        padding: 0;
        max-width: 100%;
    }
    .space--header section{
        line-height: 20px;
        font-size: 14px;
        max-width: 100%;
    }
    .ref-content{
        width: 320px;
    }
    .top--header{
        height: 269px;
        min-height: 30vh;
        background-position-y: 40px;
    }
    /*Service*/
    .service{
        gap: 0;
    }
    .services h1{
        font-size: 20px;
        margin: 0;
    }
    .services p{
        margin: 0;
        font-size: 15px;
    }

    /*Promo*/
    .promo{
        min-height: 15vh;
        background-position-x: -300px;
    }
    .promo p{
        font-size: 17px;
    }
    .btn--primary-new{
        align-self: left;
        padding: 14px 40px;
        font-size: 14px;
        margin-top: 0;
    }
}