@font-face{
    font-family: 'Open sans';
    src:url(../fonts/open-sans.ttf)
}

/*header*/
:root{
    --text: #888888;
    --primary: #EB6C27;
    --bg: #ffffff;
    --space-text: #3A3A3A;
    --grid-text: #2B2B2B;
}
body {
    margin: 0;
    scrollbar-width: none;
    font-family: 'Open sans';
}
.top--header{
    height: 100vh;
    background-size: cover;
    background-image: url(../images/header-background.jpg);
    display: flex;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.header__background{
    width: 100%;
}
.navbar{
    display: flex;
    background-color: var(--bg);
    justify-content: space-between;
    align-items: center;
    margin: 40px 200px;
    width: 85%;
    height: 92px;
    text-transform: uppercase;
}
.navlogo{
    width: 200px;
    height: 100%;
}
.navlink{
    font-family: 'Open Sans';
    color: var(--text);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    padding: 35px 30px;
}
.navlinks{
    float: right;
}
.btn--primary{
    font-family: 'Open Sans';
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--primary);
    color: var(--bg);
    align-items: center;
    gap: 20px;
    text-decoration: none;
    padding: 16px 40px 16px 50px;
    font-weight: 600;
    margin-top: 4em;
}
.btn--primary:after{
    content: url(../images/arrow.svg);
}
.title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 120px;
    line-height: 163px;
    color: var(--bg);
    margin: 0;
}
.title--second{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 82px;
    letter-spacing: -0.05em;
    color: var(--bg);
    margin: 0;
}
.active{
    background-color: var(--primary);
    color: var(--bg);
}
.title--text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

/*page*/

.space
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    gap: 50px;
    padding-top: 50px;
}
.space--header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 30%;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-image: none;
    background-color: var(--bg);
}
.space--title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 82px;
    color: var(--space-text);
}
.title--bold{
    color: var(--primary);
}
.description{
    width: 890px;
    height: 81px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
}
.desc--bold{
    color: var(--space-text);
    font-weight: 800;
}
/* grid*/
.services{
    display:flex;
    flex-direction: column;
    gap: 80px;
}
.service{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    grid-auto-flow: dense;
}
.service__img--right{
    grid-column: 2;
}
.services h1{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    color: var(--grid-title);
}
.services p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: var(--grid-text);
    padding-bottom: 20px;
}
.btn--secondary{
    text-decoration: none;
    color: var(--primary);
    padding: 12px 40px;
    gap: 10px;
    font-weight: 600;

    /* nějaká divná stránka - ale funguje*/
    background-image: repeating-linear-gradient(4deg, var(--primary), var(--primary) 18px, transparent 18px, transparent 36px, var(--primary) 36px), repeating-linear-gradient(94deg, var(--primary), var(--primary) 18px, transparent 18px, transparent 36px, var(--primary) 36px), repeating-linear-gradient(184deg, var(--primary), var(--primary) 18px, transparent 18px, transparent 36px, var(--primary) 36px), repeating-linear-gradient(274deg, var(--primary), var(--primary) 18px, transparent 18px, transparent 36px, var(--primary) 36px);
    background-size: 1px 100%, 100% 1px, 1px 100% , 100% 1px;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat;
}   
.promo{
    display: flex;
    flex-direction: column;
    background-image: url(../images/add-background.jpg);
    background-size: cover;
    background-position: center center;
    width: 84vw;
    height: 12vw;
    background-repeat: no-repeat;
    padding: 8%;
    margin-top: 15%;
}
.promo p{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-weight: 800;
    line-height: 1px;
    color: #ffffff;
}
.btn--primary-new{
    font-family: 'Open Sans';
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--primary);
    color: var(--bg);
    align-items: center;
    gap: 20px;
    text-decoration: none;
    padding: 20px 80px;
    font-weight: 600;
    margin-top: 2em;
    max-width: 120px;
}
.ref--text{
    max-width: 50%;
}

