@font-face{
    font-family: 'Open sans';
    src:url(../fonts/open-sans.ttf)
}

/*header*/
:root{
    --text: #888888;
    --primary: #EB6C27;
    --bg: #ffffff;
    --space-text: #3A3A3A;
    --grid-text: #2B2B2B;
}
body {
    margin: 0;
    scrollbar-width: none;
    font-family: 'Open sans';
    overflow-x: hidden;
}
.top--header{
    height: 98vh;
    width: 100%;
    background-size: cover;
    background-image: linear-gradient(rgba(41, 41, 41, 0.5), rgba(41, 41, 41, 0.5)), url(../img/header-background.jpg);
    display: flex;
    background-position: center center;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.header__background{
    width: 100%;
}
.navbar{
    display: flex;
    background-color: var(--bg);
    justify-content: space-between;
    align-items: center;
    margin: 40px 200px;
    width: 85%;
    height: 92px;
    text-transform: uppercase;
}
.navlogo{
    width: 200px;
    height: 55.17px;
}
.navlink{
    font-family: 'Open Sans';
    color: var(--text);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    padding: 35px 30px;
    text-decoration: none;
}
.navlinks{
    float: right;
}
.btn--primary{
    font-family: 'Open Sans';
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    background-color: var(--primary);
    color: var(--bg);
    align-items: center;
    gap: 20px;
    text-decoration: none;
    padding: 16px 40px 16px 50px;
    font-weight: 600;
    margin-top: 4em;
}
.btn--primary:after{
    content: url(../img/arrow.svg);
}
.title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 120px;
    line-height: 163px;
    color: var(--bg);
    margin: 0;
}

.title--second{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 82px;
    letter-spacing: -0.05em;
    color: var(--bg);
    margin: 0;
}
.active{
    background-color: var(--primary);
    color: var(--bg);
}
.title--text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

/*page*/

.space
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    gap: 50px;
    padding-top: 50px;
}
.space--header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 30%;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-image: none;
    background-color: var(--bg);
}
.space--header section{
    max-width: 65%;
    font-size: 20px;
}
.space--title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 82px;
    color: var(--space-text);
}
.title--bold{
    color: var(--primary);
}
.description{
    width: 890px;
    height: 81px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
}
.desc--bold, b{
    color: var(--space-text);
    font-weight: 800;
}
/* grid*/
.services{
    display:flex;
    flex-direction: column;
    gap: 80px;
}
.service{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    grid-auto-flow: dense;
    
}
.service__img--right{
    grid-column: 2;
    border-radius: 0px 0px 0px 40px;
}
.service__img--left{
    border-radius: 0px 0px 40px 0px;
}
.service__img{
    max-width: 100%;
}
.service__img--holder{
    max-height: 307px;
    max-width: 729px;
	overflow: hidden;
}
.services h1{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    color: var(--grid-title);
}
.services p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: var(--grid-text);
    padding-bottom: 20px;
}
.btn--secondary{
    text-decoration: none;
    text-align: center;
    color: var(--primary);
    padding: 12px 40px;
    gap: 10px;
    font-weight: 600;

    /* nějaká divná stránka - ale funguje*/
    background-image: repeating-linear-gradient(4deg, var(--primary), var(--primary) 18px, transparent 18px, transparent 36px, var(--primary) 36px), repeating-linear-gradient(94deg, var(--primary), var(--primary) 18px, transparent 18px, transparent 36px, var(--primary) 36px), repeating-linear-gradient(184deg, var(--primary), var(--primary) 18px, transparent 18px, transparent 36px, var(--primary) 36px), repeating-linear-gradient(274deg, var(--primary), var(--primary) 18px, transparent 18px, transparent 36px, var(--primary) 36px);
    background-size: 1px 100%, 100% 1px, 1px 100% , 100% 1px;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat;
}   
.promo{
    background-image: linear-gradient(rgba(41, 41, 41, 0.8), rgba(41, 41, 41, 0.8)), url(../img/add-background.jpg);
    background-color: #888888;
    background-size: cover;
    background-position: center center;
    
    height: 20vh;
    padding: 10em;
    margin-top: 5em;
}
.promo p{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
}
.btn--primary-new{
    font-family: 'Open Sans';
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--primary);
    color: var(--bg);
    align-items: center;
    gap: 20px;
    text-align: center;
    text-decoration: none;
    padding: 20px 80px;
    font-weight: 600;
    margin-top: 2em;
    max-width: 140px;
    font-size: 20px;
}
/*Reference*/
.ref--text{
    max-width: 50%;
}
.ref{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
	
    width: 90%;
    margin: 0 auto;
    gap: 50px;

    padding-top: 50px;
}
.ref .btn--primary-new{
    padding: 12px 50px;
}
.ref__contents{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin-top: 2em;
	margin-bottom: 80px;
}
.ref-content{
    position: relative;
    width: 480px;
    margin: 0;
}
.ref-content__img{
    display: block;
    width: 100%;
}

.ref-content__active {
    position: absolute;

    top: 0;
    left: 0;
    height: 298px;
    width: 480px;
    
    background-color: rgba(235, 108, 27, 0.8);
    color: var(--bg);

    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}
.ref-content:hover .ref-content__active {
    display: flex;
}
.ref-content__mobile{
    display: none;
}
.ref-content__mobile h3{
    text-align: center;
    font-weight: 700;
    font-size: 1.4em;
    margin: 10px 0;
}
.ref-content__mobile p{
    text-align: center;
    font-weight: 400;
    font-size: 0.8em;
    margin: 0;
}

/*footer*/
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    background-color: var(--primary);
}
.footer-text{
    text-align: center;
}
.footer-heading{
    color: #ffffff;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 35px;
}
.footer-desc{
    color: #ffffff;
    font-weight: 300;
    font-size: 25px;
}
.footer .btn--primary-new{
    background-color: #ffffff;
    color: var(--primary);
    max-width: 180px;
    padding: 10px, 40px;  
    margin-bottom: 2em;  
    
}
/*SLUZBY INDEX*/

.header--sluzby{
    height: 20vh;
    width: 100%;
    background-size: cover;
    background-image: linear-gradient(rgba(41, 41, 41, 0.5), rgba(41, 41, 41, 0.5)), url(../img/header-background.jpg);
    display: flex;
    background-position: center center;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.sluzby{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
}
.sluzby--title{
    align-self: center;
}
.sluzby--text{
    width: 100%;
}
.sluzby--text p{
    padding-top: 10px;
}
.list{
    margin-left: 4em;
}
li {
   padding-bottom: 7px;
   line-height: 20px;
}
ul{
    list-style-type: disc;
    
}
li::marker {
    color: var(--primary);
    font-size: 26px;
}
.list--komunikace{
    margin-left: 8em;
}

/*Kontakty*/
.kontakty--text{
    text-align: center;
    font-size: 16px;
}
.kontakty-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.kontakty{
    display: flex;
    flex-direction: column;
}
.kontakty span{
    display: flex;
    align-items: center;
}
.kontakty span::before{
    display: block;
    margin-right: 20px;
    content: " ";
    background-color: var(--primary);
    

}
.form > p{
    color: var(--space-text);
}


/*MOBILE*/
@media screen and (max-width: 1300px){
    .service{
        display: flex;
        flex-direction: column;
    }
    .navbar{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .title{
        font-size: 80px;
    }
    .title--second{
        font-size: 50px;
    }
}

@media screen and (max-width: 850px) {
    .title{
        font-size: 30px;
        line-height: 40px;
    }
    .title--text .btn--primary{
        display: none;
    }
    .title--second{
        line-height: 40px;
        font-size: 20px;
    }
    .navlinks{
        display: none;
    }
    .top--header{
        height: 269px;
        min-height: 30vh;
        background-position-y: 40px;
    }
    .space{
        padding-top: 0;

    }
    .space--title{
        width: 100%;
        text-align: left;
        padding-top: 10px;
        line-height: 30px;
        font-size: 22px;  
    }
    .space--header{
        text-align: left;
        align-self: left;
        align-items: left;
        justify-content: left;
        padding: 0;
        max-width: 100%;
    }
    .space--header section{
        line-height: 20px;
        font-size: 14px;
        max-width: 100%;
    }
    /*Reference*/
    .ref__contents{
         max-width: 90vw;
         margin-bottom: 0;
    }
    .ref-content__active{
        visibility: hidden;
    }
    .ref-content__mobile{
        display: block;
    }
    .btn--primary-new{
        margin-top: 0;
    }
    /*Service*/
    .service{
        gap: 0;
    }
    .services h1{
        font-size: 20px;
        margin: 0;
    }
    .services p{
        margin: 0;
        font-size: 15px;
    }

    /*Promo*/
    .promo{
        max-height: 15vh;
        padding: 2em;
        background-size: cover;
	    background-position: center center;
    }
    .promo p{
        font-size: 18px;
        max-width: 75vw;
    }
    .btn--primary-new{
        align-self: left;
        padding: 14px 40px;
        font-size: 14px;
        margin-top: 0;
    }
    /*footer*/
    .footer{
        margin-top: 100px;
    }
    .footer-text{
        max-width: 90%;
    }
    .footer-heading{
        font-size: 22px;
    }
    .footer-desc{
        font-size: 14px;
    }
    .btn--primary-new{
        margin-top: 1em;
        width: 80%;
    }
    /*Novostavby*/
    .sluzby--title{
        font-size: 30px;
    }
    .list{
        margin: 0;
        padding: 0;
    }
    li{
        margin-left: 25px;
        padding-bottom: 0;
    }
    .sluzby--text{
        font-size: 14px;
    }
    .header--sluzby{
        background: none;
        height: 12vh;
    }
    
    /*Kontakty*/
    .kontakty-grid {
        grid-template-columns: 1fr;
    }
}
